<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>

<div class="dashboard-title"><h1><%= @pet.name %> Health-Hub</h1></div>

  <!-- Render the shared dashboard partial -->
  <%= render "shared/dashboard" %>

<!-- Button to Open Chat Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatModal" data-controller="notification" data-notification-user-id-value="<%= current_user.id %>" >
  Chat with your Vet<i data-target="notification.notificationIcon" class="fa-solid fa-comment-dots d-none" style="color: #e64533;"></i>
</button>

<!-- Chat Modal connected to chatroom subscription stimulus controller -->
<div class="modal fade" role="dialog" data-backdrop="true" id="chatModal" tabindex="-1" aria-labelledby="chattModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content chat-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= @pet.name %>'s Chatroom</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" data-controller="chatroom-subscription" data-chatroom-subscription-chatpet-id-value="<%= @pet.id %>">
        <div class="all-messages" data-chatroom-subscription-target="messages">
          <% @pet.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
          <%= simple_form_for [@pet, @message], html: { class: "d-flex flex-grow-1", id:"submit-message" } do |f| %>
            <%= f.input :content, id: "message-content", label: false, placeholder: "Type your message here..." %>
            <%= f.submit "Send", class: "btn btn-primary" %>
          <% end %>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="link_to-pet-buttons col-3">
<%= link_to "Add an event", pet_calender_users_path, class: "btn btn-primary" %>
<%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
</div>
