<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>

<h1><%= @pet.name %> Dashboard</h1>

  <!-- Render the shared dashboard partial -->
  <%= render "shared/dashboard" %>

<div class="container chatroom"  data-controller="chatroom-subscription" data-chatroom-subscription-chatpet-id-value="<%= @pet.id %>">
  <h1><%= @pet.name %>'s Chatroom</h1>
<button data-action="click->chatroom-subscription#fire" class="btn btn-outline-primary">Chat to your vet</button>

<div class="container chatroom mt-5" data-controller="chatroom-subscription" data-chatroom-subscription-target="chat" data-chatroom-subscription-chatpet-id-value="<%= @pet.id %>">
    <h1><%= @pet.name %>'s Chatroom</h1>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @pet.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [@pet, @message], html: {class: "d-flex"} do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@pet.name}", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
</div>

<%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-primary" %>
