<div class="d-flex justify-content-center booking-pg">



<div class="d-flex container">
<div>
<div class= "pet-name">
  <h1><%= @pet.name %></h1>
</div>
  <%= render 'calendar', pet: @pet, booking: @booking %>
</div>
  <div class="centered-content event-page" style="text-align: center;">
    <h1>Description</h1>
    <div>
      <p><%= @booking.description %></p>

    </div>
    <%= link_to "Back to Calendar",  pet_calender_users_path, class: 'btn btn-primary' %>

    <!-- Icon to trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="addBookingModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= render 'form', pet: @pet, booking: @new_booking %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
