<!-- This is the main dashboard view -->
<div class="dashboard-body">

  <!-- Render the avatar link -->
  <div class="avatar-section">
    <%= render "pages/avatar_link" %>
    <!-- Icon to trigger modal -->
    <span type="icon" data-bs-toggle="modal" data-bs-target="#addPetModal">
      <!-- Placeholder icon below - replace this later!-->
      <i class="fas fa-plus"></i>
    </span>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render 'pets/form', pet: @pet_new %>
      </div>
    </div>
  </div>

  <div class="main-dashboard-section">
    <!-- Cards representing different sections of the pet dashboard -->
    <div class="card-dashboard-container">
      <%= link_to pet_records_path(@pet), class: "records-card" do %>
        <div class="card-dashboard">
          <div class="records-img">
            <% if @pet %>
              <%= image_tag("pet-records.png", alt: "Medical Records") %>
            <% end %>
          </div>
          <div class="card-dashboard-description">
            <h1>Medical Records</h1>
            <p>Effortlessly access your pet's complete medical history at your fingertips, ensuring you never miss a beat in their healthcare journey.</p>
          </div>
        </div>
      <% end %>

      <%= link_to pet_posts_path(@pet), class: "posts-card" do %>
        <div class="card-dashboard">
          <div class="posts-img">
            <% if @pet %>
              <%= image_tag("pet-journal.png", alt: "Pet Journal") %>
            <% end %>
          </div>
          <div class="card-dashboard-description">
            <h1>Journal</h1>
            <p>Create a personalized pet health journal, capturing memorable moments, observations, and notes for a comprehensive understanding of your pet's health journey.</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="dashboard-calendar">
      <!-- Render the calendar -->
      <%= render "bookings/calendar" %>
    </div>

    <!-- Upcoming Events section -->
    <div class="upcoming-events-card">
      <h2>Upcoming events:</h2>
        <div class="dashboard-event-cards-container">
          <% @upcoming_bookings&.each do |booking| %>
            <div class="dashboard-event-card">
              <div class="upcoming-event-time"><p><%= booking.time %></p></div>
              <div class="upcoming-event-description"><p><%= booking.description %></p></div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
