<!-- Form to create new record-->
<!-- TODO: Allow File Upload -->
<%= simple_form_for([@pet, @record], html: { class: 'form-horizontal' }) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="addRecordModalLabel">New Medical Record for <%= @pet.name %></h5>
  </div>
  <div class="modal-body">
    <%= f.input :title %>
    <%= f.input :content, data: { editor: 'markdown' }, rows: 10  %>
    <%= f.input :images, as: :file, accept: 'image/png, image/gif, image/jpeg', input_html: {multiple: true}, class: "form-control" %>
    <%= f.input :files, as: :file, accept: 'file/pdf', input_html: {multiple: true}, class: "form-control" %>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Add Record', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
<!-- End of Form -->
