
<!-- Create New Record Modal -->
<div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render 'records/form', record: @record %>
    </div>
  </div>
</div>
<!-- End of Create New Record Modal -->

<!-- Record Cards Container -->
<div class="big-records-card">
  <div class="records-title-row">
    <!-- Page Title -->
    <h1>Medical Records for <%= @pet.name %></h1>
  </div>
<!-- End of Icon to trigger Create New Record Modal -->
  <div class="row justify-content-center search-bar-records">
      <!-- Search Bar Row -->
      <div class="col-sm-8 my-3">
        <%= form_with url: pet_records_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <!-- Form Submit Button -->
          <%= submit_tag "Search", name: "", class: "btn btn-primary-reverse" %>
        <% end %>
      </div>
      <!-- End of Search Bar Row -->
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <div id="records">
        <% if @records.any? %>
          <% @records.each do |record| %>
              <div class="card my-3">
                <!-- Card Title -->
                <div class="card-header record-title">
                  <h3><%= record.title %></h3>
                  <p><%= record.created_at.strftime("%A, %b %d") %></p>
                </div>
                <!-- End of Card Title -->

                <!-- Card Body -->
                <div class="card-body">
                  <p>
                    <%= record.content[0..200] %>
                    <small>... (Click View to see whole record)</small>
                  </p>
                  <!-- Checks if there are no images attached to the post and iterates over the images if there are -->

                  <% unless record.images.all.empty?  %>
                    <% record.images.each do |img| %>
                      <!-- creates html with an image tag which gets the image from AWS and displays it with the post-pic-small css  -->
                      <%= image_tag img.service.send(:object_for, img.key).public_url, class: 'header-img post-pic-small mb-3' %>
                    <% end %>
                  <% end %>

                  <!-- Checks if there are no files attached to the post and iterates over the files if there are -->
                    <% unless record.files.all.empty?  %>
                      <h5>Attached Files:</h5>
                      <ul>
                        <% record.files.each do |file| %>
                          <li>
                            <!-- Checks if the file is previewable and creates a download link to the file if it is -->
                            <!-- The previewable? bit is not necessary for the link - it is to show a preview but that bit doesn't work yet -->
                            <% if file.previewable? %>
                              <%= link_to "#{file.filename}", rails_blob_path(file, disposition: "attachment") %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  <!-- View Link -->
                  <%= link_to "View", pet_record_path(@pet, record) %>
                  <!-- Edit Icon -->
                  <span type="button", data-bs-toggle="modal" data-bs-target="#editRecordModal<%= record.id %>">
                    <i class="fas fa-edit"></i>
                  </span>
                  <!-- End of Edit Icon -->

                  <!--Edit Modal -->
                  <div class="modal fade" id="editRecordModal<%= record.id %>" tabindex="-1" role="dialog" aria-labelledby="editRecordModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <%= render 'records/editform', record: record %>
                      </div>
                    </div>
                  </div>
                  <!-- End of Edit Modal -->

                  <!-- Delete Icon-->
                    <%= link_to pet_record_path(@pet, record), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  <!-- End of Delete Icon-->

                </div>
                <!-- End of Card Body -->
              </div>
          <% end %>
        <% else %>
          <em>No records found for <%= @pet.name %></em>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Buttons Section -->
  <div class="medical-buttons">
    <!-- Button to Create New Record Modal -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#addRecordModal" class="btn btn-primary-reverse records-btn">
        Create a new Record
    </button>
    <!-- Button to Back to Dashboard -->
    <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary-reverse records-btn"%>
  </div>
</div>
<!-- End of Cards Container -->
