<h1>New Medical Record for <%= @pet.name %></h1>

<!-- Form to create new record-->
<!-- TODO: Allow File Upload -->
<%= simple_form_for([@pet, @record]) do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<!-- End of Form -->
