<h1>Pet Dashboard</h1>

<% @pets.each do |pet| %>
  <div>
    <%= image_tag(pet.avatar_pic) %>
    <h2><%= pet.name %></h2>
    <h2><%= pet.species %></h2>
    <h2><%= pet.breed %></h2>
    <h2><%= pet.age %></h2>
    <h2><%= pet.weight %></h2>

    <%= link_to "Pet Details", pet_path(pet) %>
  </div>
<% end %>


<!-- Icon to trigger modal -->
<span type="icon" data-bs-toggle="modal" data-bs-target="#addPetModal">
  <!-- Placeholder icon below - replace this later!-->
  <i class="fas fa-plus"></i>
</span>

<!-- Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render 'pets/form', pet: @pet %>
    </div>
  </div>
</div>
