<h1>Pet Dashboard</h1>

  <% if @pet %>
    <h2>Latest Pet:</h2>
    <p>Name: <%= @pet.name %></p>
  <% else %>
    <p>No pets found.</p>
  <% end %>


<% @pets.each do |pet| %>
  <div>
    <%= link_to posts_path(pet) do %> <!-- replace with correct path, either posts or records -->
      <%= image_tag(pet.avatar_pic, alt: "Pet Avatar Picture") %>
    <% end %>
  </div>
<% end %>

<!-- Icon to trigger modal -->
<span type="icon" data-bs-toggle="modal" data-bs-target="#addPetModal">
  <!-- Placeholder icon below - replace this later!-->
  <i class="fas fa-plus"></i>
</span>

<!-- Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render 'pets/form', pet: @pet %>
    </div>
  </div>
</div>

<div class="card-dashboard-container">
  <div class="card-dashboard">
    <%# <%= link_to pet_records_path do %>
      <%= image_tag("records.png", alt: "Medical Records") %>
      <div class="card-dashboard-description">
        <h2>Medical Records</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    <%# <% end %>
  </div>
  <div class="card-dashboard">
    <%# <%= link_to pet_posts_path do %>
      <%= image_tag("journal.png", alt: "Pet Journal") %>
      <div class="card-product-description">
        <h2>Journal</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    <%# <% end %>
  </div>
  <div class="card-dashboard">
    <%= image_tag("training.png", alt: "Pet Training") %>
    <div class="card-product-description">
      <h2>Pet Training</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
