<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('banner.png') %>')">
    <h1>Your Pet's Health, One Heartbeat Away</h1>
    <p>Your Pet's Well-being, Pulse by Pulse, with PetPulse.</p>
    <%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
</div>

<div class="heading-card-hp">
  <h1>What we offer:</h1>
</div>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 my-5">
  <div class="col">
    <div class="card h-100 full-card-hp">

      <%= image_tag "1.png", alt: "Le Wagon", class: "card-img-top home-pg-img" %>
      <div class="card-body">
      <h5 class="card-title">Health Hub</h5>
        <p class="card-text">Your pet's health hub! One secure spot for all records, keeping their well-being in check.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100 full-card-hp">
      <%= image_tag "2.png", alt: "Le Wagon", class: "card-img-top home-pg-img" %>
      <div class="card-body">
        <h5 class="card-title">Vet Chat</h5>
        <p class="card-text">Instant vet chat for pet advice: peace of mind, timely support.</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="card h-100 full-card-hp">
      <%= image_tag "3.png", alt: "Le Wagon", class: "card-img-top home-pg-img" %>
      <div class="card-body">
        <h5 class="card-title">Pet Journal</h5>
        <p class="card-text">Capture pet moments, track health trends, and treasure memories!</p>
      </div>
    </div>
  </div>
</div>

</div>


  <!-- End of HealthHub Card -->
</div>
