<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('banner.png') %>')">
  <h1>Your Pet's Health, One Heartbeat Away</h1>
  <p>Your Pet's Well-being, Pulse by Pulse, with PetPulse.</p>

  <%= link_to "Health Hub", dashboard_path, class: "btn btn-primary mx-5" %>

</div>

<div class="heading-card-hp">
  <h1>What we offer</h1>
</div>

<div class="container homepage-card-service">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 my-5">
    <div class="col">
      <div class="card h-100 full-card-hp">

        <%= image_tag "1.png", alt: "Le Wagon", class: "card-img-top home-pg-img" %>
        <div class="card-body">
          <h5 class="card-title">Health Hub</h5>
          <p class="card-text">Your pet's health hub! One secure spot for all records, keeping their well-being in check.</p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100 full-card-hp">
        <%= image_tag "2.png", alt: "Le Wagon", class: "card-img-top home-pg-img" %>
        <div class="card-body">
          <h5 class="card-title">Vet Chat</h5>
          <p class="card-text">Instant vet chat for pet advice: peace of mind, timely support.</p>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card h-100 full-card-hp">
        <%= image_tag "3.png", alt: "Le Wagon", class: "card-img-top home-pg-img" %>
        <div class="card-body">
          <h5 class="card-title">Pet Journal</h5>
          <p class="card-text">Capture pet moments, track health trends, and treasure memories!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="yellow-banner card-heading-hp">
    <h2>Hear it from PetPal users</h2>
  </div>

  <div class="card-group review-petpal mt-5">
    <div class="card review-homepage mx-2">
      <div class="card-body">

        <div class="d-flex align-items-center mb-3">
          <div class="avatar-container">
            <%= image_tag "r1.png", alt: "Le Wagon", class: "avatar me-3" %>
            <%= image_tag "afghanistan.png", alt: "Le Wagon", class: "avatar-small " %>
          </div>
           <h6 class="card-title align-items-top">Billie</h6>
        </div>

        <h5 class="card-title">PetPal exceeded my expectations! </h5>
        <p class="card-text">The attention to detail, from the initial meet-and-greet to the daily care routines, was impeccable. It's clear they genuinely care about pets. My dog, Max, is always thrilled to see his PetPal caretaker. Thank you for the excellent service!</p>
        <h6 class="card-title">Rating: ⭐⭐⭐⭐⭐</h6>
      </div>
      <div class="card-footer">
        <small class="text-muted">Billie E., 1 day ago</small>
      </div>
    </div>
    <div class="card review-homepage mx-2">
      <div class="card-body">

        <div class="d-flex align-items-center mb-3">
          <div class="avatar-container">
            <%= image_tag "r3.png", alt: "Le Wagon", class: "avatar me-3" %>
            <%= image_tag "spain.png", alt: "Le Wagon", class: "avatar-small " %>
          </div>
           <h6 class="card-title align-items-top">Kime</h6>
        </div>

        <h5 class="card-title">PetPal's team of caretakers is fantastic</h5>
        <p class="card-text">They don't just feed and walk the pets; they truly connect with them. My two dogs, Bella and Rocky, were so well taken care of that I think they were a bit disappointed when I returned! I'm extremely grateful for the excellent service.</p>
        <h6 class="card-title">Rating: ⭐⭐⭐⭐⭐</h6>
      </div>
      <div class="card-footer">
        <small class="text-muted">Kime W., 3 days ago</small>
      </div>
    </div>
    <div class="card review-homepage mx-2">
      <div class="card-body">

        <div class="d-flex align-items-center mb-3">
          <div class="avatar-container">
            <%= image_tag "r2.png", alt: "Le Wagon", class: "avatar me-3" %>
            <%= image_tag "uk.png", alt: "Le Wagon", class: "avatar-small " %>
          </div>
           <h6 class="card-title align-items-top">Jason</h6>
        </div>

        <h5 class="card-title">PetPal is a lifesaver!</h5>
        <p class="card-text">I had to go on an unexpected business trip, and they took care of my fur babies with so much love and attention. The daily photo updates were a nice touch, and I returned to happy, healthy pets. Highly recommend!</p>
        <h6 class="card-title">Rating: ⭐⭐⭐⭐⭐</h6>
      </div>
      <div class="card-footer">
        <small class="text-muted">Jason B., 5 days ago</small>
      </div>
    </div>
  </div>
</div>
