<div class="container">


    <div class="d-flex justify-content-between align-items-center mt-4">
      <div>
      <h1><%= @pet.name %>'s Journal</h1>
      </div>
      <!-- Search Bar Row -->
      <div class="col-sm-8">
        <%= form_with url: pet_posts_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control mx-2 rounded",
                placeholder: "Search Posts by Title or Content"
            %>
          <!-- Form Submit Button -->
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
      <!-- End of Search Bar Row -->
    </div>



    <div class="row post-card-container">

      <div class="col-sm-4">
          <% if @posts[0] %>
          <%# render post 0 %>
            <%= render 'posts/card', post: @posts[0], title: @posts[0].title %>
          <% end %>

          <% if @posts[3] %>
          <%# render post 3 %>
            <%= render 'posts/card', post: @posts[3], title: @posts[3].title %>
          <% end %>

          <% if @posts[6] %>
          <%# render post 6 %>
            <%= render 'posts/card', post: @posts[6], title: @posts[6].title %>
          <% end %>

          <% if @posts[9] %>
          <%# render post 9 %>
            <%= render 'posts/card', post: @posts[9], title: @posts[9].title %>
          <% end %>

          <% if @posts[12] %>
          <%# render post 12 %>
            <%= render 'posts/card', post: @posts[12], title: @posts[12].title %>
          <% end %>


      </div>

      <div class="col-sm-4">

          <% if @posts[1] %>
          <%# render post 1 %>
            <%= render 'posts/card', post: @posts[1], title: @posts[1].title %>
          <% end %>

          <% if @posts[4] %>
          <%# render post 4 %>
            <%= render 'posts/card', post: @posts[4], title: @posts[4].title %>
          <% end %>

          <% if @posts[7]%>
          <%# render post 7 %>
            <%= render 'posts/card', post: @posts[7], title: @posts[7].title %>
          <% end %>

          <% if @posts[10]%>
          <%# render post 10 %>
            <%= render 'posts/card', post: @posts[10], title: @posts[10].title %>
          <% end %>

          <% if @posts[13] %>
            <%= render 'posts/card', post: @posts[13], title: @posts[13].title %>
          <% end %>
      </div>

      <div class="col-sm-4">
          <% if @posts[2] %>
          <%# render post 2 %>
            <%= render 'posts/card', post: @posts[2], title: @posts[2].title %>
          <% end %>

          <% if @posts[5] %>
          <%# render post 5 %>
            <%= render 'posts/card', post: @posts[5], title: @posts[5].title %>
          <% end %>
          
          <% if @posts[8] %>
          <%# render post 8 %>
            <%= render 'posts/card', post: @posts[8], title: @posts[8].title %>
          <% end %>

          <% if @posts[11] %>
          <%# render post 11 %>
            <%= render 'posts/card', post: @posts[11], title: @posts[11].title %>
          <% end %>

          <% if @posts[14] %>
          <%# render post 14 %>
            <%= render 'posts/card', post: @posts[14], title: @posts[14].title %>
          <% end %>
      </div>
    </div>
  </div>

<div class="container py-3">
    <!-- Icon to trigger Create New Record Modal -->
  <button  data-bs-toggle="modal" data-bs-target="#addPostModal" class="btn btn-primary reverse">
    <!-- Placeholder icon below - TODO: replace this later-->
    New Post
  </button>
  <!-- End of Icon to trigger Create New Record Modal -->

  <!-- Create New Record Modal -->
  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render 'posts/form', post: @post, pet: @pet %>
      </div>
    </div>
  </div>

  <!-- End of Create New Record Modal> -->
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-secondary" %>
  <%# <%= link_to "New Post", new_pet_post_path, class: "btn btn-primary" %>
  </div>
</div>
