<div class="container">


    <div class="d-flex justify-content-between">
      <div>
      <h1><%= @pet.name %>'s Journal</h1>
      </div>
        <!-- Search Bar Row -->
        <div class="col-sm-8">
          <%= form_with url: pet_posts_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Search Posts by Title or Content"
              %>
            <!-- Form Submit Button -->
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
        <!-- End of Search Bar Row -->
    </div>


    <div class="row post-card-container">
      <% @posts.each do |post| %>

        <div class="col-sm-4">
          <div class="card post-index-card p-2 my-3">

            <%#  Display Post Title%>
            <h2>
              <%= post.title %>
            </h2>
            <%# Display someof the Post Content %>
            <p>
              <%= post.content[0..200] %>
              <small>...</small>
            </p>

            <%# Checks if there are no images attached to the post and iterates over the images if there are %>
            <% unless post.images.all.empty?  %>
              <% post.images.each do |img| %>
                <%# creates html with an image tag which gets the image from AWS and displays it with the post-pic-small css  %>
                <%= image_tag img.service.send(:object_for, img.key).public_url, class: 'header-img post-pic-small mb-3' %>
              <% end %>
            <% end %>

            <%# Checks if there are no files attached to the post and iterates over the files if there are %>
            <% unless post.files.all.empty?  %>
              <h5>Attached Files:</h5>
              <ul>
                <% post.files.each do |file| %>
                  <li>
                    <%# Checks if the file is previewable and creates a download link to the file if it is %>
                    <%# The previewable? bit is not necessary for the link - it is to show a preview but that bit doesn't work yet %>
                    <% if file.previewable? %>
                      <%= link_to "#{file.filename}", rails_blob_path(file, disposition: "attachment") %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>

            <!-- Div to position icons and date at the bottom -->
            <div class="post-card-bottom-text">

            <!-- Edit Icon -->
            <div>
              <%= link_to "View", pet_post_path(@pet, post) %>

              <!-- Edit Icon -->
              <span type="button", data-bs-toggle="modal" data-bs-target="#editPostModal<%= post.id %>">
                <i class="fas fa-edit"></i>
              </span>
              <!-- End of Edit Icon -->

              <!--Edit Modal -->
              <div class="modal fade" id="editPostModal<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <%= render 'posts/editform', post: post, pet: @pet  %>
                  </div>
                </div>
              </div>
              <!-- End of Edit Modal -->

              <%= link_to pet_post_path(@pet, post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>

                <p><%= post.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </div>
          </div>
    </div>
    <% end %>

    </div>
  </div>

<div class="container py-3">
    <!-- Icon to trigger Create New Record Modal -->
  <button  data-bs-toggle="modal" data-bs-target="#addPostModal" class="btn btn-primary">
    <!-- Placeholder icon below - TODO: replace this later-->
    New Post
  </button>
  <!-- End of Icon to trigger Create New Record Modal -->

  <!-- Create New Record Modal -->
  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render 'posts/form', post: @post, pet: @pet %>
      </div>
    </div>
  </div>

  <!-- End of Create New Record Modal> -->
  <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-primary" %>
  <%# <%= link_to "New Post", new_pet_post_path, class: "btn btn-primary" %>
  </div>
</div>
