<div class="container">
<h1>Journal</h1>
  <% @posts.each do |post| %>
    <div class="card my-2 p-2">
      <%# <h2><%= link_to post.title, post %>
      <%# <%= post.content[0..100] %>
      <h2>
        <%= post.title %>
      </h2>
      <p>
        <%= post.content[0..100] %>
      </p>

      <%= link_to "View Post", pet_post_path(@pet, post) %>

      <div>
        <%= link_to edit_pet_post_path(@pet, post) do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>

        <%= link_to pet_post_path(@pet, post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
    </div>

  <% end %>

  <%= link_to "New Post", new_pet_post_path, class: "btn btn-primary" %>
</div>
