<div class="container">

<div class="card my-2 p-2">
<h3><%= @post.title %></h3>

<%= @post.content %>

<%# iterates over the images in each post and creates a preview pic, styled by post-pic-large %>
<% @post.images.each do |img| %>
  <%= image_tag img.service.send(:object_for, img.key).public_url, class: 'header-img post-pic-large m-5' %>
<% end %>


  <div>
    <%# <%= link_to edit_pet_post_path(@pet, @post) do %>
      <%# <i class="fa-regular fa-pen-to-square"></i> %>
    <%# <% end %>

    <!-- Edit Icon -->
  <span type="button", data-bs-toggle="modal" data-bs-target="#editPostModal<%= @post.id %>">
    <i class="fas fa-edit"></i>
  </span>
  <!-- End of Edit Icon -->

  <!--Edit Modal -->
  <div class="modal fade" id="editPostModal<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render 'posts/editform', post: @post, pet: @pet  %>
      </div>
    </div>
  </div>
  <!-- End of Edit Modal -->

    <%= link_to pet_post_path(@pet, @post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>


  <%= link_to 'Back to Posts', pet_posts_path, class: "btn btn-primary" %>
</div>
